<div class="left-column">
  <section class="request-scan" x-data="formHandler(<%= dry_run %>)" x-show="isTabActive('scans')">
    <form @submit.prevent="submitForm($event)">
      <button id="start-scan" :disabled="$store.lastUpdate.scanInProgress">Start Scan</button>
      <div x-show="$store.lastUpdate.scanInProgress" class="spinner-container">
        <div class="spinner"></div>
      </div>
      <div class="checkbox-list">
        <label>
          <input type="checkbox" name="debug_mode" x-model="formData.debug_mode">
          Debug Mode
        </label>
        <label>
          <input type="checkbox" name="dry_run" x-model="formData.dry_run">
          Dry Run
        </label>
      </div>
    </form>
  </section>
  <section class="request-fetch" x-show="isTabActive('library')">
    <button
      id="fetch-library"
      :disabled="$store.library.isLoading"
      @click="$store.library.refetchLibrary()"
    >ReFetch Library</button>
  </section>
  <section class="latest-check" x-data>
    <div class="latest-check-header">
      <h2>Latest Check</h2>
      <p class="byline">
        <span class="highlight-text" x-text="$store.lastUpdate.elapsed_time"></span>
      </p>
    </div>
    <div x-show="$store.lastUpdate.hasRun">
      <p>
        <strong class="label">Date:</strong>
        <span x-text="$store.lastUpdate.updated_date"></span>
      </p>
      <p>
        <strong class="label">Time:</strong>
        <span x-text="$store.lastUpdate.updated_time"></span>
      </p>
      <p>
        <strong class="label">Source:</strong>
        <span x-text="$store.lastUpdate.reason"></span>
      </p>
      <p>
        <strong class="label">Result:</strong>
        <span x-text="$store.lastUpdate.result"></span>
      </p>
    </div>
    <div x-show="!$store.lastUpdate.hasRun">
      <p>
        <strong class="label">Status:</strong>
        <span>NEVER RUN</span>
      </p>
    </div>
  </section>
</div>
