<section class="library">
  <article class="library-card">
    <div class="title-wrapper">
      <h2 class="card-title">Legend</h2>
      <label>On-Going</label>
      <%= erb :_library_badge, locals: { prefix: "statusBadges['ongoing']" } %>
      <label>Ended (Incomplete)</label>
      <%= erb :_library_badge, locals: { prefix: "statusBadges['ended-incomplete']" } %>
      <label>Ended (Complete)</label>
      <%= erb :_library_badge, locals: { prefix: "statusBadges['ended-complete']" } %>
    </div>
  </article>
  <div id="library-cards">
    <template x-for="id in $store.library.animeIds" :key="id">
      <%= erb :_library_card, locals: { show_var: "$getAnime(id)" } %>
    </template>
    <div
      x-intersect.margin.1000px="$store.library.fetchLibrary()"
      x-show="$store.library.hasMoreItems()"
      class="spinner-container"
    >
      <div class="spinner"></div>
      <p>Loading library data...</p>
    </div>
  </div>
</section>
