<article class="library-card">
  <!-- Left Side: Primary Information -->
  <div class="left-section">
    <div class="title-wrapper">
      <h2 class="card-title" x-text="c.name"></h2>
      <%= erb :_library_badge, locals: { prefix: "c.badge" } %>
    </div>
    <p><span x-text="c.type"></span></p>
    <p><span x-text="c.eps"></span></p>
  </div>
  <!-- Right Side: Detailed Information -->
  <div class="right-section">
    <p><strong>ID:</strong>
      <span x-text="c.id"></span></p>
    <p><strong>English Name:</strong><span x-text="c.english_name || '---'"></span></p>
    <p><strong>Collection:</strong>
      <span x-text="c.contents"></span></p>
    <p><strong>Air Date:</strong>
      <span x-text="c.air_date"></span></p>
    <p><strong>End Date:</strong>
      <span x-text="c.end_date"></span></p>
  </div>
</article>
