<section class="library">
  <div class="request-fetch">
    <button
      id="fetch-library"
      :disabled="$store.library.libraryState == 'loading'"
      @click="$store.library.fetchLibrary()"
    >Fetch Library</button>
    <article class="library-card">
      <div class="title-wrapper">
        <h2 class="card-title">Legend</h2>
        <label>On-Going</label>
        <%= erb :_library_badge, locals: { prefix: "statusBadges['ongoing']" } %>
        <label>Ended (Incomplete)</label>
        <%= erb :_library_badge, locals: { prefix: "statusBadges['ended-incomplete']" } %>
        <label>Ended (Complete)</label>
        <%= erb :_library_badge, locals: { prefix: "statusBadges['ended-complete']" } %>
      </div>
    </article>
    <div x-show="$store.library.libraryState == 'loading'" class="spinner-container">
      <div class="spinner"></div>
      <p>Loading library data...</p>
    </div>

  </div>
  <div x-show="$store.library.libraryState == 'loaded'">
    <template x-for="[id, c] in Object.entries($store.library.libraryCards)" :key="id">
      <%= erb :_library_card, locals: { show_var: "c" } %>
    </template>
  </div>
</section>
