<template x-for="({group, normal, special }, index) in <%=range_var%>" :key="group">
  <span class="ranges small-text">
    <span class="group-name" x-text="`[${group}]`"></span>
    <span x-text="normal.ranges"></span>
    <span x-show="<%=has_specials%>" x-text="special?.ranges"></span>
    <span class="group-separator" x-show="index < <%=range_var%>.length - 1">
      <i class="fas fa-circle"></i>
    </span>
  </span>
</template>
