<header class="scan-card-header">
  <div class="header-content">
    <strong>
      <span class="highlight-text" x-text="scan.source"></span>
      <span>
        Scan from
      </span>
      <time class="highlight-text" x-text="scan.started_at"></time>
    </strong>
    <div class="right-group">
      <span x-show="!scan.complete" x-text="scan.scanned_count + ' of'"></span>
      <span x-text="scan.file_count"></span>
      <span>
        files</span>
      <span class="expand-indicator" x-on:click="scan.showDetails = !scan.showDetails">
        <i class="fa-solid fa-circle-chevron-down" x-show="!scan.showDetails"></i>
        <i class="fa-solid fa-circle-chevron-up" x-show="scan.showDetails"></i>
      </span>
    </div>
  </div>
  <div
    x-show="scan.showDetails"
    x-transition:enter="transition-transform ease-out duration-300"
    x-transition:enter-start="opacity-0 transform scale-y-0"
    x-transition:enter-end="opacity-100 transform scale-y-1"
    x-transition:leave="transition-transform ease-in duration-300"
    x-transition:leave-start="opacity-100 transform scale-y-1"
    x-transition:leave-end="opacity-0 transform scale-y-0"
    class="run-time-details"
  >
    <p><strong>Date:</strong><span x-text="scan.start_date"></span></p>
    <p><strong>Time:</strong><span x-text="scan.start_time"></span></p>
    <p><strong>Duration:</strong>
      <span x-text="scan.duration"></span></p>
    <p><strong>Source:</strong>
      <span x-text="scan.source"></span></p>
    <p><strong>Scan ID:</strong><span x-text="scan.id"></span></p>
  </div>
</header>
