<div class="scan-show">
  <h4>
    <%= erb :_library_badge, locals: { prefix: "getBadgeDetails(show)" } %>
    <span x-text="show.name"></span>
  </h4>
  <div class="scan-show-detail" x-show="show.success">
    <span class="label added-label">Added:</span>
    <span x-text="show.success?.eps_w_grps"></span>
  </div>
  <div class="scan-show-detail" x-show="show.replacement">
    <span class="label replacement-label">Replaced:</span>
    <span x-text="show.replacement?.eps_w_grps"></span>
  </div>
  <div class="scan-show-detail" x-show="show.duplicate">
    <span class="label duplicates-label">Duplicate:</span>
    <span x-text="show.duplicate?.eps_w_grps"></span>
  </div>
  <div class="scan-show-detail final-status">
    <span class="label final-status-label">Status:</span>
    <span x-text="show.latest.eps_w_grps"></span>
  </div>
</div>
