<div class="scan-show-detail" x-show="show.<%=detail%>.length > 0">
  <span class="label <%=detail.gsub('_', '-')%>-label"><%= name %>:</span>
  <%= erb :_scan_range,
  locals: {
    range_var: "show.#{detail}",
    has_specials: "$getAnime(show.aid).hasSpecials()",
  } %>
</div>
