<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cisqua</title>
  </head>
  <body>
    <header class="main-header">
      <h1>Cisqua <% if test_mode %>TEST MODE<% end %>
      </h1>
    </header>
    <div>
      <form action="/start_scan" method="POST">
        <input type="submit" value="Start Scan"/>
      </form>
    </div>
    <footer>
      <p>&copy; 2023 cisqua</p>
    </footer>
  </body>
</html>
