<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cisqua</title>
    <link rel="stylesheet" href="css/styles.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    >
  </head>
  <body>
    <header class="main-header">
      <h1>Cisqua
        <% if test_mode %>TEST MODE<% end %>
      </h1>
    </header>
    <div class="container" x-data="mainTab">
      <%= erb :_left_column, locals: { dry_run: dry_run } %>
      <div class="main-content">
        <div x-show="$store.notification.data">
          <div class="notification" :class="$store.notification.data?.css_class">
            <span x-text="$store.notification.data?.badge"></span>
            <span x-text="$store.notification.data?.message"></span>
          </div>
        </div>
        <div class="tabs-header">
          <button
            :class="{ 'active-tab': isTabActive('scans') }"
            class="tab-button"
            @click="setActiveTab('scans')"
          >
            Scans
          </button>
          <button
            :class="{ 'active-tab': isTabActive('library') }"
            class="tab-button"
            @click="setActiveTab('library')"
          >
            Library
          </button>
        </div>
        <%= erb :_scrollable_section, locals: { tabName: :scans, content: erb(:_scans) } %>
        <%= erb :_scrollable_section, locals: { tabName: :library, content: erb(:_library) } %>
      </div>
    </div>
    <footer>
      <p>&copy; 2023 cisqua</p>
    </footer>
    <script>
      window.initialData = <%= initial_data.to_json.html_safe %>;
    </script>
    <script src="js/index.js" defer></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </body>
</html>
