/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #F4F6F9;
  color: #333;
  font-size: 16px;
}

.container {
  display: flex;
  max-width: 1400px;
  margin: 20px auto;
  gap: 20px;
}

.left-column {
  width: 250px;
  /* fixed width for the column */
  padding: 10px;
  /* spacing around the content of the column */
  background-color: #f5f5f5;
  /* light grey background for the column */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* subtle shadow for depth */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* space between the two sections/cards */
}

/* General styling for cards in the left column */
.left-column>section {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  /* white background for the cards */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}

.request-scan {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.request-scan button,
.request-fetch button {
  padding: 12px 20px;
  /* vertical padding | horizontal padding */
  font-size: 1.2rem;
  /* This will increase the text size */
  margin-bottom: 15px;
  /* More space below the button */
  border: none;
  /* Removes default borders */
  background-color: #007BFF;
  /* A blue background for the button */
  color: #ffffff;
  /* White text color */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  /* Changes the cursor to a hand when hovering over the button */
  transition: background-color 0.3s ease;
  /* Smooth transition for hover effect */
}

.request-scan button:hover,
.request-fetch button:hover {
  background-color: #0056b3;
  /* A darker blue when the button is hovered over */
}

.request-scan button:disabled,
.request-fetch button:disabled {
  background-color: #ccc;
  /* A light grey background for the disabled state */
  cursor: not-allowed;
  /* Cursor indicating the button is not clickable */
  color: #888;
  /* A grey text color for the disabled state */
}

.latest-check {
  margin-top: 10px;
  font-size: 14px;
  /* Adjusted to work in conjunction with the "gap" property on the .left-column */
}

.latest-check-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.latest-check h2 {
  /* ... existing styles ... */
  margin-bottom: 0;
  /* remove the space below the h2 */
}

.byline {
  font-size: 0.9rem;
  /* reduce the font size a bit */
  margin-bottom: 20px;
  /* add some space below the byline */
  color: #666;
  /* make the byline a bit more subtle */
}

.latest-check-details p {
  margin-bottom: 6px;
  /* space between items */
}

.label {
  display: inline-block;
  width: 60px;
  /* Set this width to accommodate the longest label */
  text-align: center;
  margin-right: 10px;
  /* Space between the label and value */
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-content {
  flex-grow: 1;
  /* Allow the main content to take up the available space */
  width: 100%;
  /* Ensure the width fills the container */
  position: relative;
}

.scans {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.main-header {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

.main-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.notification {
  padding: 15px 20px;
  border-radius: 4px;
  margin-top: 20px;
  max-width: 500px;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* This makes the notification span the entire width */
  z-index: 10;
  /* Ensure the notification stays above the other content */
  background-color: rgba(255, 255, 255, 0.9);
  /* semi-transparent background, adjust as necessary */
}

.notification.success {
  background-color: #D4EDDA;
  color: #155724;
  border: 1px solid #C3E6CB;
}

.notification.warning {
  background-color: #FFF3CD;
  color: #856404;
  border: 1px solid #FFEEBA;
}

.notification.error {
  background-color: #F8D7DA;
  color: #721C24;
  border: 1px solid #F5C6CB;
}


.collapsible {
  color: #3498db;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.spinner-container {
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  padding-top: 10px;
  /* Gives some spacing from the top */
  padding-bottom: 10px;
  /* Optional: you can add some space below spinner */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  /* Color of the spinner */
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Existing styles ... */

/* Tabs Styling */

.tabs-header {
  display: flex;
  border-bottom: 2px solid #007BFF;
  /* Blue underline for the tabs container */
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #f5f5f5;
  /* Same as the left-column's background */
  border: 1px solid #ccc;
  /* Border for the entire tab header */
  border-bottom: none;
  /* Removing the bottom border as we already have a distinct underline */
  border-radius: 4px 4px 0 0;
  /* Rounded corners on the top */
}

.tab-button {
  flex-grow: 1;
  /* allows the buttons to take up equal widths */
  border: 1px solid #ccc;
  padding: 12px 20px;
  /* Increased padding for larger appearance */
  cursor: pointer;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
  /* Adjust font size if necessary */
  text-align: center;
  /* Center the text within each tab */
  transition: background-color 0.3s ease;
  /* Smooth transition for hover and active effects */

  &:last-child {
    border-right: none;
  }
}

.tab-button:hover {
  background-color: #e4e4e4;
}

.tab-button.active-tab {
  color: #007BFF;
  background-color: #ffffff;
  border-bottom: 2px solid #007BFF;
  /* Removing the border to let the tabs-header's underline show through */
  font-weight: bold;
  /* Making active tab bold can also help distinguish it */
}

/* Library Card Styling */
.library-card {
  border: 1px solid #eaeaea;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  gap: 20px;
  /* This will provide a gap between the left and right sections */
  margin-bottom: 20px;
  /* Space between each library card */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  /* Subtle shadow for depth */
}

.library-card .left-section {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: 12 px 0;
}

.library-card .title-wrapper {
  display: flex;
  align-items: center;
  /* Vertically aligns child items */
  gap: 15px;
  /* Spacing between direct children, adjust as needed */
  margin-bottom: 20px;
  /* moved from h2 */
}

.library-card .title-wrapper h2 {
  font-size: 1.2em;
  margin: 0;
  /* Reset the margin on the h2 */
  font-weight: bold;
  color: #444;
}

.library-card .title-wrapper .status-badge {
  padding: 4px 8px;
}

.status-badge {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #155724;
}

.status-badge.ended-complete {
  background-color: #ffffff;
  color: #007BFF;
}

.status-badge.ended-incomplete {
  background-color: #FFF3CD;
  color: #856404;
}

.status-badge.ongoing {
  background-color: #FFF;
  color: #007BFF;
}

.status-badge.unknown-file {
  background-color: #FFF;
  color: #CA6D59;
}

.library-card .right-section {
  flex: 1;
  padding: 1em;
  border-left: 1px solid #eaeaea;
  /* A subtle separator between the two sections */
  display: flex;
  flex-direction: column;
  margin: 14 px 0;
}

.library-card .right-section p {
  display: flex;
  justify-content: space-between;
}

.library-card .right-section strong,
.library-card .right-section span {
  flex: 1;
  /* Both labels and values will take equal width. */
}



.highlight-text {
  color: #87CEEB;
}

.scan-card {
  border-bottom: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.scan-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.1em;
  margin-bottom: 15px;
  background: linear-gradient(to right, #2c3e50, #5a8bbd);
  color: #ecf0f1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 20px 10px 20px;
}

.scan-card.in-progress .scan-card-header {
  background: linear-gradient(to right, #2c5e50, #5a8b7d);
}

.scan-card .status-badge {
  margin-right: 5px;
}

.scan-card-header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scan-card-header .right-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.right-group>span {
  margin-right: 5px;
}

.expand-indicator {
  font-size: 1.2 em;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 5px;
}

.run-time-details {
  border-top: 1px solid rgba(236, 240, 241, 0.3);
  /* A light border using the existing text color */
  padding-top: 10px;
  /* Some padding to space out the content from the border */
  box-sizing: border-box;
  /* Ensure padding doesn't affect width */
  width: 100%;
  /* Ensure it spans the full width */
}

.run-time-details p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.run-time-details p strong {
  flex-shrink: 0;
  width: 120px;
  text-align: right;
  margin-right: 10px;
  font-size: 0.9em;
  font-weight: bold;
  color: rgba(236, 240, 241, 0.8);
}

.run-time-details span {
  flex-grow: 1;
}


.scan-card>*:not(.scan-card-header) {
  padding-left: 20px;
}

.scan-card h4 {
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.scan-show {
  padding-bottom: 10px;
}

.scan-show-detail {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 30px;
}

.scan-show-detail .label {
  font-size: 0.8em;
  padding: 2px 6px;
  border-radius: 10px;
  margin-right: 4px;
  color: white;
}

.added {
  color: #4CAF50;
}

.duplicates {
  color: #FF9800;
}

.replacement {
  color: #8BC34A
}

.final-status {
  font-weight: bold;
  background: linear-gradient(to right, #2c3e50, #5a8bbd);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.added-label {
  background-color: #4CAF50;
}

.replacement-label {
  background-color: #8BC34A;
}

.duplicates-label {
  background-color: #FF9800;
}

.scan-show-detail .final-status-label {
  background: white;
  color: #2c3e50;
}

.unknown-label {
  background-color: #CA6D59;
}

.unknown {
  color: #CA6D59;
}
