<!DOCTYPE html >
<html>
    <body>
        The name is <span data-bind="text: personName"></span>
        <script src="bower_components/knockout/dist/knockout.debug.js"></script> 
        <script>
          var myViewModel = {
              personName: 'Bob',
              personAge: 123
          };
          ko.applyBindings(myViewModel);
        </script>  
    </body>
</html>